﻿@page
@model WebExperience.Test.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.RememberMe"></label>
                <input asp-for="Input.RememberMe" class="form-check" />
                <span asp-validation-for="Input.RememberMe"></span>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <input type="submit" class="btn btn-primary" value="Sign up" asp-page-handler="RedirectToRegister" />
        </form>
    </div>
</div>
