﻿@page
@model WebExperience.Test.Pages.Asset.AssetListModel
@{
    ViewData["Title"] = "Home page";
}


<table class="table table-sm table-striped table-bordered">
    <tr>
        <td>Asset Id</td>
        <td>Country</td>
        <td>Mime Type</td>
    </tr>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td><a class="nav-link text-dark" asp-area="" asp-page="/Asset/AssetDetail" asp-route-id="@item.AssetId">@item.AssetId</a></td>
            <td>@item.Country</td>
            <td>@item.MimeType</td>
        </tr>
    }
</table>

<!-- pager -->
@if (Model.Pager.Pages.Any())
{
    <nav class="table-responsive">
        <ul class="pagination justify-content-center d-flex flex-wrap">
            @if (Model.Pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="/Asset/AssetList">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="/Asset/AssetList?p=@(Model.Pager.CurrentPage - 1)">Previous</a>
                </li>
            }

            @foreach (var p in Model.Pager.Pages)
            {
                <li class="page-item @(p == Model.Pager.CurrentPage ? " active" : "" )">
                    <a class="page-link" href="/Asset/AssetList?p=@p">@p</a>
                </li>
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="/Asset/AssetList?p=@(Model.Pager.CurrentPage + 1)">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="/Asset/AssetList?p=@(Model.Pager.TotalPages)">Last</a>
                </li>
            }
        </ul>
    </nav>
}

