﻿@page
@model WebExperience.Test.Pages.Asset.AssetDetailModel
@{
    ViewData["Title"] = "Asset Specification";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Item.AssetId</title>
</head>
<body>
    <table class="table table-sm table-striped table-bordered">
        <tr>
            <td>AssetId:</td>
            <td>@Model.Item.AssetId</td>
        </tr>
        <tr>
            <td>FileName:</td>
            <td>@Model.Item.FileName</td>
        </tr>
        <tr>
            <td>Country:</td>
            <td>@Model.Item.Country</td>
        </tr>
        <tr>
            <td>CreatedBy:</td>
            <td>@Model.Item.CreatedBy</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>@Model.Item.Email</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>@Model.Item.Description</td>
        </tr>
    </table>
</body>
</html>
